.cards {
  display: flex;
  margin: 10px;
}

.card {
  width: 150px;
  height: 220px;
  position: relative;
  perspective: 600px;
  margin: 10px
}
.card .face {
  width: 150px;
  height: 220px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: absolute;
  backface-visibility: hidden;
  background-color: white;
}

.card .face-front {
  background-image: url("https://heropy.blog/css/images/pattern.png");
  transform: rotateY(0deg);
}

.card:active .face-front {
  transform: rotateY(-180deg);
}

.card:active .face-back {
  transform: rotateY(0deg);
}

.card .face-front img {
  filter: grayscale();
  opacity: .7;
  width: 90px;
}
.card .face-back {
  transform: rotateY(180deg);
}
.card .face-back img {
  height: 120px;
}
